.results-modal {
  &__warning-icon {
    font-size: 64px;
    color: var(--palette-tertiary-color-1);
    max-width: none;
    margin-bottom: 24px;
  }

  &__success-icon {
    &-outer {
      animation: progress 1.8s 1 forwards;
      background:
        radial-gradient(closest-side, white 86%, transparent 87% 100%),
        conic-gradient(rgba(0, 33, 150, 0.2) calc(var(--progress-value) * 1%), var(--palette-primary-color-4) 0);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 120px;
      padding: 8px;
      position: relative;
      width: 120px;
    }

    &-inner {
      background-color: rgba(0, 33, 150, 0.75);
      border-radius: 50%;
      height: 100%;
      position: relative;
      width: 100%;

      p {
        color: var(--palette-primary-color-5);
        font-size: 24px;
        font-weight: 700;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes progress {
  to {
    --progress-value: var(--progress-value-end);
  }
}

@property --progress-value {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
