<form class="change-password-form text-center" [formGroup]="form" (ngSubmit)="onSubmit()">

  <app-form-field
    controlName="currentPassword"
    type="password"
    [label]="'general.form.currentPassword.label' | translate"
    [errorMessages]="'general.form.currentPassword.errors' | translate"
  />

  <app-form-field
    controlName="newPassword"
    type="password"
    [label]="'general.form.newPassword.label' | translate"
    [errorMessages]="'general.form.newPassword.errors' | translate"
  />

  <app-notification
    *ngIf="error"
    icon="error"
    [message]="error | authError"
  ></app-notification>

  <button [disabled]="loading" class="submit-btn" [class.loading]="loading">
    {{ "general.buttons.saveChanges" | translate }}
  </button>
</form>
