<header class="header">
  <div class="flex-box flex-wrap">
    <a routerLink="/home" class="header__logo flex-box">
      <img src="assets/images/logo.png" alt="Logo">
      <p>
        <span>E</span>
        <span>School</span>
      </p>
    </a>
    <div class="header__menu">
      <ul class="flex-box">
        <li>
          <a routerLink="/signup">{{"header.menu.registration" | translate}}</a>
        </li>
        <li>
          <a routerLink="/login">{{"header.menu.login" | translate}}</a>
        </li>
        <li>
          <a routerLink="/about-us">{{"header.menu.aboutUs" | translate}}</a>
        </li>
        <li>
          <a (click)="onChangeLanguage()">
            <img
              [title]="selectedLanguage === 'uk' ? 'Change to English' : 'Перейти на українську'"
              [src]="'assets/images/' + (selectedLanguage === 'uk' ? 'eng-flag.png' : 'ukraine-flag.svg')" alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
