<header class="header">
  <div class="flex-box flex-wrap">
    <a routerLink="/home" class="header__logo flex-box">
      <img src="assets/images/logo.png" alt="Logo">
      <p>
        <span>E</span>
        <span>School</span>
      </p>
    </a>
    <div class="header__menu">
      <ul class="flex-box">
        <li>
          <a routerLink="/signup">Become a student</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/about-us">About us</a>
        </li>
        <li>
          <a (click)="onChangeLanguage()">
            <img
              [title]="selectedLanguage === 'ua' ? 'Change to English' : 'Перейти на українську'"
              [src]="'assets/images/' + (selectedLanguage === 'ua' ? 'eng-flag.png' : 'ukraine-flag.svg')" alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
