<header class="header">
  <div class="flex-box flex-wrap">
    <a routerLink="/home" class="header__logo flex-box">
      <img src="assets/images/logo.png" alt="Logo" />
      <p>
        <span>E</span>
        <span>School</span>
      </p>
    </a>
    <div class="header__menu">
      <ul class="flex-box">
        <li *ngIf="!user">
          <a routerLink="/signup">{{
            'header.menu.registration' | translate
          }}</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/login">{{ 'header.menu.login' | translate }}</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/about-us">{{ 'header.menu.aboutUs' | translate }}</a>
        </li>
        <li *ngIf="!user">
          <app-language-selector />
        </li>
        <li
          *ngIf="user"
          class="with-image menu-dropdown"
          (click)="accountMenuVisible = !accountMenuVisible"
          (mouseenter)="onAccountMenuHover(true)"
          (mouseleave)="onAccountMenuHover(false)"
          [class.opened]="accountMenuVisible"
        >
          <a>
            <div class="flex align-items-center justify-content-end">
              <span>{{ user.displayName }}</span>
              <img [src]="user | photoUrl" alt="" />
            </div>
          </a>
          <div *ngIf="accountMenuVisible" @fadeAnimation class="menu-content">
            <ul>
              <li>
                <a routerLink="/update-profile">
                  <span class="material-symbols-outlined">person</span>
                  <span class="link-text">{{
                    'header.menu.profile' | translate
                  }}</span>
                </a>
              </li>
              <li>
                <a routerLink="/about-us">
                  <span class="material-symbols-outlined">info</span>
                  <span class="link-text">{{
                    'header.menu.aboutUs' | translate
                  }}</span>
                </a>
              </li>
              <li>
                <a (click)="signOut.emit()">
                  <span class="material-symbols-outlined">logout</span>
                  <span class="link-text">{{
                    'header.menu.logout' | translate
                  }}</span>
                </a>
              </li>
              <li class="separator"></li>
              <li>
                <a>
                  <app-language-selector [withText]="true" [size]="24" />
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
