<app-page-layout
  backgroundColor="var(--palette-primary-color-3)"
  [breadcrumbs]="true"
>
  <div class="lesson">
    @if (lesson$ | async; as lesson) {
      <div
        class="lesson__content flex-box flex-box-mobile justify-content-center align-items-start"
      >
        <quill-view-html
          *ngIf="lesson.contentHTML as contentHTML"
          [content]="contentHTML"
        />
        <img *ngIf="lesson.imageURL as imageURL" [src]="imageURL" alt="" />
      </div>

      <div class="lesson__content">
        <app-iframe-video
          *ngIf="lesson.videoURL as videoURL"
          [videoURL]="videoURL"
        />
      </div>
    } @else {
      <app-loader></app-loader>
    }
  </div>
</app-page-layout>
