.lesson {

  &__content {
    background-color: var(--palette-primary-color-5);
    box-shadow: var(--primary-box-shadow);
    gap: 24px;
    margin: 24px 0;
    padding: 24px;

    img {
      margin: 0 auto;
      position: sticky;
      top: 100px;
    }
  }

  app-loader {
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translate(-50%, -50%);
  }

  app-quiz-journey {
    display: block;
    margin-top: 24px;
  }
}

app-page-layout ::ng-deep .page-layout__title {
  padding-bottom: 8px;
}
