rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // match /{allPaths=**} {
    //   allow read, write: if true;
    // }

    match /images/lessons/{lessonId}/{allPaths=**} {
      allow read, write: if isAdmin();
    }

    match /images/users/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }

    function isAuthorized() {
    	return request.auth.uid != null;
    }

    function isOwner(userId) {
     	return request.auth.uid == userId;
    }

    function emailVerified() {
      return request.auth.token.email_verified;
    }

    function isAdmin() {
    	return firestore.get(/databases/(default)/documents/metadata/$(request.auth.uid)).data.role == 'ADMIN';
    }
  }
}
