<div class="auth">
  <h1 class="auth__title text-center">
    <ng-container *ngIf="isSignUp">
      {{"authForm.registrationScreen.title" | translate}}
    </ng-container>

    <ng-container *ngIf="!isSignUp">
      {{"authForm.loginScreen.title" | translate}}
    </ng-container>
  </h1>

  <div class="auth__socials flex-box justify-content-center">
    <button>
      <img src="assets/images/google.svg" alt="Google" />
    </button>
    <button>
      <img src="assets/images/facebook.svg" alt="Facebook" />
    </button>
  </div>

  <form class="auth__form text-center">
    <p class="text-center">
      <ng-container *ngIf="isSignUp">
        {{"authForm.registrationScreen.text" | translate}}
      </ng-container>

      <ng-container *ngIf="!isSignUp">
        {{"authForm.loginScreen.text" | translate}}
      </ng-container>

    </p>

    <label *ngIf="isSignUp" class="input-field">
      <input placeholder="" type="text">
      <span>{{"authForm.registrationFields.name" | translate}}</span>
    </label>

    <label class="input-field">
      <input placeholder="" type="email">
      <span>{{"authForm.registrationFields.email" | translate}}</span>
    </label>

    <label class="input-field">
      <input placeholder="" type="password">
      <span>{{"authForm.registrationFields.password" | translate}}</span>
    </label>

    <button class="auth__submit-btn">
      <ng-container *ngIf="isSignUp">
        {{"authForm.registrationScreen.button" | translate}}
      </ng-container>

      <ng-container *ngIf="!isSignUp">
        {{"authForm.loginScreen.button" | translate}}
      </ng-container>
    </button>
  </form>
</div>
