<div class="auth">
  <h1 class="auth__title text-center">
    <ng-container *ngIf="isSignUp">
      {{"authForm.registrationScreen.title" | translate}}
    </ng-container>

    <ng-container *ngIf="!isSignUp">
      {{"authForm.loginScreen.title" | translate}}
    </ng-container>
  </h1>

  <div class="auth__socials flex-box justify-content-center">
    <button (click)="signInWithProvider.emit(signInProviders.GOOGLE)">
      <img src="assets/images/google.svg" alt="Google" />
    </button>
    <button (click)="signInWithProvider.emit(signInProviders.FACEBOOK)">
      <img src="assets/images/facebook.svg" alt="Facebook" />
    </button>
  </div>

  <form class="auth__form text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="text-center">
      <ng-container *ngIf="isSignUp">
        {{"authForm.registrationScreen.text" | translate}}
      </ng-container>

      <ng-container *ngIf="!isSignUp">
        {{"authForm.loginScreen.text" | translate}}
      </ng-container>
    </p>

    <app-form-field
      *ngIf="isSignUp"
      controlName="displayName"
      type="text"
      [label]="'general.form.name.label' | translate"
      [errorMessages]="'general.form.name.errors' | translate"
    />

    <app-form-field
      controlName="email"
      type="email"
      [label]="'general.form.email.label' | translate"
      [errorMessages]="'general.form.email.errors' | translate"
    />

    <app-form-field
      controlName="password"
      type="password"
      [label]="'general.form.password.label' | translate"
      [errorMessages]="'general.form.password.errors' | translate"
    />

    <app-notification
      *ngIf="error"
      icon="error"
      [message]="error | authError"
    ></app-notification>

    <button [disabled]="loading" class="submit-btn" [class.loading]="loading">
      <ng-container *ngIf="isSignUp">
        {{"authForm.registrationScreen.button" | translate}}
      </ng-container>

      <ng-container *ngIf="!isSignUp">
        {{"authForm.loginScreen.button" | translate}}
      </ng-container>
    </button>
  </form>
</div>
