.page-layout {
  &__content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
  }

  &__separator {
    border-top: 1px solid var(--palette-primary-color-6);
  }

  &__title {
    font-size: 36px;
    margin: 0;
    padding: 48px 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .page-layout {
    &__content {
      padding: 0;
    }
  }
}
