<app-page-layout
  backgroundColor="var(--palette-primary-color-5)"
  [breadcrumbs]="true"
  [title]="'adminPanel.title' | translate"
>
  <div class="admin-panel">
    <div
      class="admin-panel__blocks-wrapper align-items-stretch flex-box flex-box-mobile"
    >
      <a class="admin-panel__block" [routerLink]="['lessons-management']">
        <h3 class="admin-panel__block-title flex justify-content-center">
          <span class="material-symbols-outlined"> play_lesson </span>
          <p>
            {{ 'adminPanel.lessonsManagement.title' | translate }}
          </p>
        </h3>
        <div class="admin-panel__block-content">
          <p>
            {{ 'adminPanel.lessonsManagement.content' | translate }}
          </p>
        </div>
      </a>

      <a class="admin-panel__block" [routerLink]="['users']">
        <h3 class="admin-panel__block-title flex justify-content-center">
          <span class="material-symbols-outlined"> group </span>
          <p>
            {{ 'adminPanel.users.title' | translate }}
          </p>
        </h3>
        <div class="admin-panel__block-content">
          <p>
            {{ 'adminPanel.users.content' | translate }}
          </p>
        </div>
      </a>
    </div>
  </div>
</app-page-layout>
