<div *ngIf="{ user: authService.user$ | async } as data" class="update-profile">
  <app-page-layout
    backgroundColor="var(--palette-primary-color-3)"
    [title]="'updateProfile.title1' | translate"
  >
    <div class="update-profile__block">
      <app-update-profile-form
        *ngIf="data.user as user"
        [user]="user"
        [loading]="updateProfileLoading()"
        (submitEvent)="onUpdateProfile($event)"
      />
    </div>
  </app-page-layout>

  <app-page-layout
    *ngIf="data.user?.canChangePassword"
    backgroundColor="var(--palette-primary-color-4)"
    [title]="'updateProfile.title2' | translate"
  >
    <div class="update-profile__block">
      <app-change-password-form
        [error]="changePasswordError()"
        [loading]="changePasswordLoading()"
        (submitEvent)="onChangePassword($event)"
      />
    </div>
  </app-page-layout>
</div>
