<footer class="footer">
  <app-page-layout [separator]="true">
    <div class="footer__menu">
      <ul class="flex-box justify-content-center">
        <li>
          <a routerLink="/">{{ 'footer.menu.home' | translate }}</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/signup">{{ 'footer.menu.signUp' | translate }}</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/login">{{ 'footer.menu.login' | translate }}</a>
        </li>
        <li>
          <a routerLink="/about-us">{{ 'footer.menu.aboutUs' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="footer__socials flex-box justify-content-center">
      <a href="https://www.facebook.com/nastia.moskovych" target="_blank">
        <img src="assets/images/facebook.svg" alt="" />
      </a>
      <a href="https://www.instagram.com/nastia_moskovych/" target="_blank">
        <img src="assets/images/instagram.svg" alt="" />
      </a>
      <a href="https://github.com/NastyaMoskovych" target="_blank">
        <img src="assets/images/github.svg" alt="" />
      </a>
    </div>
    <div class="footer__copyright text-center">
      Copyright © {{ currentYear }}
    </div>
  </app-page-layout>
</footer>
