<div class="home">
  <app-page-layout>
    <div class="home__section home__section--primary flex-box">
      <div>
        <h1>Join our shool now!</h1>
        <p>Make your studying easier with us</p>
        <button routerLink="/signup">Become a Student</button>
      </div>
      <div>
        <img src="assets/images/home-banner.png" alt="">
      </div>
    </div>
  </app-page-layout>

  <app-page-layout backgroundColor="var(--palette-primary-color-3)">
    <div class="home__section home__section--secondary">
      <div class="home__stats text-center">
        <h2>Learn English together with us</h2>
        <p>
          Why should you study English?
          <br>
          It's a great skill that connects you with people worldwide and opens up exciting
          job opportunities. The best part is, it's not as hard as you might think – in fact, it can be a lot of fun!
          Discover the importance of English. It's the key to global communication and amazing career prospects.
          The best news is, learning it is an enjoyable journey.
        </p>
        <div class="flex-box flex-box-mobile justify-content-center">
          <div class="home__stats-info">
            <p>50.000+</p>
            <p>Tasks</p>
          </div>
          <div class="home__stats-info">
            <p>10.000+</p>
            <p>Students</p>
          </div>
          <div class="home__stats-info">
            <p>100%</p>
            <p>Positive feedbacks</p>
          </div>
        </div>
      </div>
      <div class="home__banner home__banner--reversed flex-box justify-content-center flex-row-reverse">
        <div class="home__banner-text">
          <p>Global Communication</p>
          <p>
            English is one of the most widely spoken languages globally, making it a crucial tool for international communication.
            Learning English allows you to converse with people from diverse backgrounds and cultures, breaking down language barriers
            and fostering global connections.
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner1.png" alt="">
        </div>
      </div>
      <div class="home__banner flex-box justify-content-center">
        <div class="home__banner-text">
          <p>Enhanced Career Opportunities</p>
          <p>
            English proficiency is often a requirement for many job opportunities, especially in multinational companies and industries
            like technology, business, and tourism. Mastering English can open up a world of career possibilities,
            increase your employability, and potentially lead to higher-paying jobs.
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner2.png" alt="">
        </div>
      </div>
      <div class="home__banner home__banner--reversed flex-box justify-content-center flex-row-reverse">
        <div class="home__banner-text">
          <p>Academic Advancement</p>
          <p>
            Many of the world's top universities and educational institutions use English as the medium of instruction.
            Learning English can open doors to higher education and research opportunities, enabling you to pursue advanced
            degrees and gain valuable academic experiences.
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner3.jpg" alt="">
        </div>
      </div>
      <div class="home__quote text-center">
        <q>The limits of my language means the limits of my world.</q>
        <p>Ludwig Wittgenstein, Austrian-British philosopher</p>
      </div>
    </div>
  </app-page-layout>
</div>
