<div class="home">
  <app-page-layout>
    <div class="home__section home__section--primary flex-box">
      <div>
        <h1>{{ 'home.primaryBanner.title' | translate }}</h1>
        <p>{{ 'home.primaryBanner.subtitle' | translate }}</p>
        <button class="submit-btn" routerLink="/signup">
          {{ 'home.primaryBanner.button' | translate }}
        </button>
      </div>
      <div>
        <img
          ngSrc="assets/images/home-banner.png"
          width="420"
          height="420"
          priority
          alt=""
        />
      </div>
    </div>
  </app-page-layout>

  <app-page-layout backgroundColor="var(--palette-primary-color-4)">
    <div class="home__section home__section--primary flex-box">
      <div>
        <img
          ngSrc="assets/images/exam.png"
          width="360"
          height="360"
          priority
          alt=""
        />
      </div>
      <div class="text-right">
        <h2>{{ 'home.secondaryBanner.title' | translate }}</h2>
        <p>{{ 'home.secondaryBanner.subtitle' | translate }}</p>
        <button class="submit-btn" routerLink="/level-check">
          {{ 'home.secondaryBanner.button' | translate }}
        </button>
      </div>
    </div>
  </app-page-layout>

  <app-page-layout backgroundColor="var(--palette-primary-color-3)">
    <div class="home__section">
      <div class="home__stats text-center">
        <h2>{{ 'home.mainBlock.mainInformation.title' | translate }}</h2>
        <p>
          {{ 'home.mainBlock.mainInformation.subtitle' | translate }}
          <br />
          {{ 'home.mainBlock.mainInformation.text' | translate }}
        </p>
        <div class="flex-box flex-box-mobile justify-content-center">
          <div class="home__stats-info">
            <p>50.000+</p>
            <p>{{ 'home.mainBlock.statistics.tasks' | translate }}</p>
          </div>
          <div class="home__stats-info">
            <p>10.000+</p>
            <p>{{ 'home.mainBlock.statistics.students' | translate }}</p>
          </div>
          <div class="home__stats-info">
            <p>100%</p>
            <p>{{ 'home.mainBlock.statistics.feedbacks' | translate }}</p>
          </div>
        </div>
      </div>
      <div
        class="home__banner home__banner--reversed flex-box justify-content-center flex-row-reverse"
      >
        <div class="home__banner-text">
          <p>{{ 'home.mainBlock.bannerInformation.title1' | translate }}</p>
          <p>
            {{ 'home.mainBlock.bannerInformation.text1' | translate }}
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner1.png" alt="" />
        </div>
      </div>
      <div class="home__banner flex-box justify-content-center">
        <div class="home__banner-text">
          <p>{{ 'home.mainBlock.bannerInformation.title2' | translate }}</p>
          <p>
            {{ 'home.mainBlock.bannerInformation.text2' | translate }}
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner2.png" alt="" />
        </div>
      </div>
      <div
        class="home__banner home__banner--reversed flex-box justify-content-center flex-row-reverse"
      >
        <div class="home__banner-text">
          <p>{{ 'home.mainBlock.bannerInformation.title3' | translate }}</p>
          <p>
            {{ 'home.mainBlock.bannerInformation.text3' | translate }}
          </p>
        </div>
        <div class="home__banner-img-wrapper">
          <img src="assets/images/banner3.jpg" alt="" />
        </div>
      </div>
      <div class="home__quote text-center">
        <q>{{ 'home.mainBlock.quote' | translate }}</q>
        <p>{{ 'home.mainBlock.author' | translate }}</p>
      </div>
    </div>
  </app-page-layout>
</div>
