<app-page-layout
  backgroundColor="var(--palette-primary-color-4)"
  [breadcrumbs]="true"
>
  <div class="learn">
    @if (lessons$ | async; as lessons) {
      <div class="learn__filters">
        @if (selectedLevel$ | async; as selectedLevel) {
          <app-dropdown
            (selectEvent)="onLevelSelect($event)"
            backgroundColor="var(--palette-primary-color-4)"
            class="w-100"
            [options]="levelsOptions"
            [placeholder]="'learn.lessons.levelsFilter' | translate"
            [selectedOption]="selectedLevel"
          />
        }

        <app-dropdown
          (selectEvent)="onStatusSelect($event)"
          backgroundColor="var(--palette-primary-color-4)"
          class="w-100"
          [options]="'general.dropdown.statuses' | translate | dropdownOptions"
          [placeholder]="'learn.lessons.statusesFilter' | translate"
          [selectedOption]="selectedStatus$ | async"
        />
      </div>

      <div
        class="learn__lessons flex-box flex-box-mobile flex-wrap align-items-stretch justify-content-center"
        [class.learn__lessons--empty]="!lessons.length"
      >
        @for (lesson of lessons; track lesson.id) {
          <app-card-menu-item
            [class.completed]="lesson.completed"
            [menuItem]="{
              background: 'url(' + lesson.imageURL + ') no-repeat top/cover',
              title: lesson.title,
              icon: 'play_lesson',
              url: ['/learn', lesson.id]
            }"
          />
        } @empty {
          <app-notification [message]="emptyResultsMessage" class="w-100" />
        }
      </div>
    } @else {
      <app-loader></app-loader>
    }
  </div>
</app-page-layout>
