.learn {
  padding: 0 16px 16px;

  &__lessons {
    gap: 24px;
    padding: 0 24px;

    app-card-menu-item {
      max-width: 400px;

      ::ng-deep {
        .card-menu-item {
          height: 300px;

          &:hover {
            box-shadow: var(--tertiary-box-shadow);
            transform: none;
          }

          &__title {
            backdrop-filter: blur(20px);
            border-radius: 0 0 8px 8px;
            left: 0;
            margin: 0;
            min-height: 80px;
            padding: 16px;
            position: absolute;
            bottom: 0;
            width: 100%;
          }

          &__content {
            border: 0;
          }
        }
      }
    }
  }

  app-loader {
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .learn {
    &__lessons {
      app-card-menu-item {
        max-width: 100%;
      }
    }
  }
}
