<div class="notification" [ngClass]="type" [class.closable]="closable">
  <p class="flex align-items-center">
    <span class="material-symbols-outlined">
      {{ type === 'success' ? 'check_circle' : 'error' }}
    </span>
    <span>
      {{ message | translate }}
    </span>

    @if (extraMessage) {
      <span>
        {{ extraMessage }}
      </span>
    }
  </p>
  <button
    *ngIf="closable"
    #closeBtn
    (click)="closeEvent.emit(); closeBtn.blur()"
  >
    <span class="material-symbols-outlined">close</span>
  </button>
</div>
