@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import '~quill/dist/quill.snow.css';
@import 'assets/styles';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--palette-primary-color-2);
  color: var(--palette-secondary-color-3);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
}

.material-symbols-outlined {
  max-width: 24px;
  min-width: 24px;
  overflow: hidden;
}

.ql-container {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--palette-primary-color-6);
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
}

::-webkit-scrollbar-track {
  background: var(--palette-primary-color-5);
  border-radius: 20px;
}
