.submit-btn {
  align-items: center;
  background-color: var(--palette-tertiary-color-1);
  border: 1px solid var(--palette-tertiary-color-1);
  border-radius: 8px;
  cursor: pointer;
  color: var(--palette-primary-color-5);
  display: inline-flex;
  font-weight: 600;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: .3s;
  margin-top: 24px;

  &.loading {
    padding-left: 16px;

    &::before {
      content: " ";
      width: 16px;
      height: 16px;
      margin-right: 6px;
      border-radius: 50%;
      border: 6px solid var(--palette-primary-color-5);
      border-color: var(--palette-primary-color-5) transparent var(--palette-primary-color-5) transparent;
      animation: loading-spinner-animation 1s linear infinite;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled):not(.loading) {
    background-color: transparent;
    color: var(--palette-tertiary-color-1);
  }

  &:active:not(:disabled) {
    transform: scale(.9);
  }
}

.icon-btn {
  background: none;
  border-radius: 50%;
  border: 0;
  height: 36px;
  color: var(--palette-secondary-color-1);
  position: relative;
  transition: .3s;
  width: 36px;

  span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.active,
  &:hover {
    background: rgba(#497D91, 0.2);
  }
}

.icon-btn-danger {
  color: var(--palette-tertiary-color-1);

  &:hover {
    background: rgba(#984800, 0.2);
  }
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
