.flex-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-box-mobile {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-danger {
  color: var(--palette-tertiary-color-1);
}

.text-semibold {
  font-weight: 600;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.rounded {
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}

.inner-page-wrapper {
  padding: 0 16px 48px;
}
