:root {
  --palette-primary-color-1: #A1D5EB;
  --palette-primary-color-2: #EBFCFF;
  --palette-primary-color-3: #E6F4F1;
  --palette-primary-color-4: #E3F2FF;
  --palette-primary-color-5: #EFFBFF;
  --palette-primary-color-6: #e4e4e4;

  --palette-secondary-color-1: #497D91;
  --palette-secondary-color-2: #92BADF;
  --palette-secondary-color-3: #344A53;
  --palette-secondary-color-4: #002E40;

  --palette-tertiary-color-1: #984800;

  --primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
