.breadcrumb {
  background: none;
  font-size: 12px;
  margin: 0;
  padding: 16px;

  a {
    color: var(--palette-secondary-color-3);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: var(--palette-secondary-color-4);
    }
  }

  li {
    cursor: pointer;
    list-style: none;
    float: left;

    &:last-child {

      a {
        cursor: text;
        color: var(--palette-secondary-color-4);
        font-weight: 600;
      }

      &::after {
        content: '';
      }
    }

    &::after {
      content: '>';
      color: var(--palette-secondary-color-3);
      margin: 5px;
    }
  }
}
